* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Lato", sans-serif;
    background: linear-gradient(
        to right,
        rgb(3, 167, 243), rgb(96, 214, 253),  rgb(3, 167, 243), rgb(96, 214, 253)
    );
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 80vh;
    border-radius: 12px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 10px 15px 12px rgba(0,0,0,0.22);
    background: #fff;
}

h1 {
    font-size: 50px;
    color:  rgb(37, 166, 226);
}

h2 {
    font-size: 120px;
    color:  rgb(37, 166, 226);
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.button {
    width: 12rem;
    height: 3rem;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background: linear-gradient(
        to right,
        rgb(3, 167, 243), rgb(96, 214, 253), rgb(66, 146, 212), rgb(82, 170, 230)
    );
    color: #fff;
    font-size: 30px;
}